      body{
        margin: 0;
        padding: 0;
        background-color: #DCDCDC;
      }
      .card{
        background-color: lightgray;
        margin: 100px; 
        text-align: center;
      }
      .button{
        cursor: pointer;
      }
      table{
        border: solid 2px black;
      }
      #button{
        border-top: 0px;
      }
      .button{
        border: solid 2px black; 
        width: 100px;
        background-color: white;
      }
      .button:hover{
        border: solid 2px black; 
        width: 100px;
        background-color: lightgray;
      }
      #equal{
        background-color: rgb(82, 120, 235);
      }
      #screen{
        width: 405px; 
      }
      .inner{
        padding: 100px;
      }
